.gradient-background {
    background: linear-gradient(300deg, #212230, #302122, #223021);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.profile-image {
    height: 500px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,1.0);
    clip-path: inset(-20px -20px 0px -20px);
}

.service-item {
    text-align: start;
    align-items: center;
}

.service-text {
    padding-bottom: 20px;
}

.service-container {
    align-content: center;
}

.service-img {
    width: 100%;
    object-fit: cover;
}

svg {
    color: grey;
}

.svg-icon-button {
    padding-left: 10px;
    padding-bottom: 4px;
}

.inside-text {
    font-size: 10px;
    color: white;
    font-weight: 100;
}

.title-div-outer {
    flex-direction: column;
    display: inline-flex;
    align-items: center;
}

.title-div-inner {
    flex-direction: column;
    display: inline-flex;
    align-items: start;
}

.title-text {
    color: white;
    padding: 0px;
    margin: 0px
}

.footer-copyright-text {
    color: white;
    font-weight: 200;
}

.footer-section-item{
    color: whitesmoke;
    font-weight: 300;
}

.button-contact {
    background-color: #BA3A4D;
    border-color: #BA3A4D;
}
.button-contact:hover {
    background-color: #212230;
}

.header-divider {
    color: white;
    height: 1px;
    width: 100%;
    padding: 0px;
    margin: 0px
}